/*===============*/
/* GENERAL RULES */
body {
  color: #031c4e;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  margin: 20px 0;
}

ul {
  list-style: none;
  padding: 0;
}

footer {
  background-color: #031c4e;
  color:#fff;
}

.ms_light-blue {
  color: #006aff; /* special light blue color*/
}

.ms_btn-100 {
  width: 100%;
  margin-bottom: 15px;
  padding: 8px;
  font-weight: 600;
  border: none;
  background-color: #579aff;
  color: #fff;;
  border-radius: 5px;
}

.ms_btn-100.ms_btn-google {
  background-color: #fff;
  background-image: url('../img/g+logo.png');
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 2% 50%;
  color: #333;
  box-shadow: 2px 2px 5px #55555585;
}

/*=========*/
/* SECTION */
.ms_section {
  padding: 50px 0;
}

.ms_section.ms_section-grey {
  background-color: #f3f5f9;
}

.ms_section.ms_section-grad-blue {
  color: #fff;
  background: linear-gradient(#0047c5, #001e9a);
}

.ms_section a {
  color: #579aff;
}

.ms_section h2 {
  font-size: 1.7em;
}

.ms_section p {
  font-size: 1.3em;
  line-height: 1.6em;
  opacity: .7;
}

.ms_section .ms_intro {
  text-align: center;
  margin-bottom: 50px;
}

.ms_section .ms_desc-box {
  padding-bottom: 40px;
}

.ms_opacity-70 {
  opacity: .7;
}

/*==============*/
/* BEGIN HEADER */
.ms_navbar {
  background-color: #fff;
  line-height: 70px;
  text-transform: capitalize;
  margin: 0;
}

.ms_navbar img.logo {
  height: 30px;
}

.ms_navbar ul {
  margin: 0;
}

.ms_navbar a {
  font-size: 15px;
  font-weight: 600;
  color: #073494;
}

.ms_navbar a.ms_sign-btn {
  text-transform: capitalize;
  font-size: 15px;
  padding: 10px;
  color: #579aff;
  border: 1px solid #579aff;
  border-radius: 5px;
  transition: all .3s ease-in-out;
}

.ms_navbar a.ms_sign-btn:hover {
  text-decoration: none;
  background-color: #579aff;
  color: #fff;
}
.ms_burger-menu {
  font-size: 20px;
  color: #2485fd;
}

/* jumbotron */
.ms_jumbo {
  margin-top: 70px;
  background-image: url(../img/ms-jumbo.jpg);
  background-size: cover;
  background-position: center;
}

/* jumbo teaser*/
.ms_jumbo .ms_teaser {
  color: #fff;
}

.ms_jumbo .ms_teaser h1 {
  font-size: 3em;
  color: inherit;
}

.ms_jumbo .ms_teaser p {
  font-size: 1.5em;
}

/* jumbo deploy app form */
.ms_deploy-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
}

.ms_deploy-form h3 {
  font-size: 2em;
}

.ms_deploy-form input[type="email"],
.ms_deploy-form input[type="password"] {
  padding: 10px 5px;
  height: auto;
}
/* END HEADER */
/*============*/

/*============*/
/* BEGIN MAIN */

/* Customers section */
.ms_customers h2 {
  font-size: 1em;
  text-transform: uppercase;
}

.ms_customers ul {
  margin: 0;
  padding: 0;
}

.ms_customers li {
  display: inline-block;
  width: 45%;
  padding: 0 10px;
}

.customers-logo img {
  width: 100%;
  vertical-align: middle;
}

/* Deploy app section */
.ms_deploy-app ul {
  margin-bottom: 40px;
}

.ms_deploy-app li {
  border-left: 1px solid #ccc;
  padding: 15px 10px;
}

/* Casrousel section */
.ms_carousel .ms_slider {
  display: inline-block;
  vertical-align: middle;
  width: 80%
}

.ms_carousel img {
  width: 100%;
  vertical-align: middle;
}

.ms_carousel-arrow {
  font-size: 4em;
  margin: 0 15px;
  color: #031c4e4f;
}

.ms_carousel-arrow.ms_active {
  color: #031c4e;;
}

.ms_carousel p.ms_slider-desc {
  margin: 30px 0 50px;
  font-size: 1.1em;
}


.ms_carousel .ms_slder-count-box {
  margin: 10px 0;
}

.ms_carousel .ms_slider-count {
  display: inline-block;
  border: 1px solid #579aff;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  margin: 0 1px;
}

.ms_carousel .ms_slider-count.ms_active {
  background-color: #579aff;
}

/* data centers section */
.ms_data-centers table {
  width: 100%;
  font-size: 1.2em;
  margin-bottom: 30px;
}

.ms_data-centers table a {
  color: #00d7d2;
}

.ms_data-centers tbody tr {
  border-bottom: 1px solid #fff;
}

.ms_data-centers tbody tr:last-child {
  border-bottom: none;
}

.ms_data-centers tbody td {
  padding: 10px;
}

.ms_data-centers tbody td:nth-child(1) {
  font-weight: 600;
}

.ms_data-centers tbody td:nth-child(2) {
  opacity: .5;
}

.ms_data-centers tbody td:nth-child(3) {
  text-align: right;
}

/* Dev-team opinion Section */
.ms_dev-team-opinion .ms_opinion-box {
  padding: 5% 0;
  background-color: #fff;
}

.ms_dev-team-opinion .ms_opinion-box img {
  margin-bottom: 20px;
  width: 50%;
}

.ms_dev-team-opinion .ms_opinion-box p {
  font-size: 1.5em;
}

/* Create account section */
.ms_create-acc-btn {
  font-size: 1.2em;
  font-weight: 600;
  padding: 10px 15px;
  background-color: #fff;
  color: #006aff;
  border: none;
  border-radius: 5px;
}


/* footer */
.ms_footer .ms_credits img.ms_small-logo {
  width: 50px;
  margin-bottom: 10px;
}

.ms_footer .ms_credits span.small {
  opacity: .5;
}

.ms_footer .ms_socials a {
  color: #fff;
  font-size: 1.5em;
}

.ms_footer .ms_footer-link-list ul>li:first-child {
font-size: 1.5em;
padding-top: 0;
}

.ms_footer-link-list ul>li {
  padding: 10px 0;
}

.ms_footer-link-list ul>li a {
  color: #fff;
  opacity: .7;
}

/* END MAIN */
/*==========*/


/*==== SM =====*/
/* MEDIA QUERY */
@media all and (min-width:768px) {

  .ms_section a {
    color: #579aff;
  }

  .ms_section h2 {
      font-size: 2em;
  }

  .ms_section p {
    font-size: 1.3em;
  }

  .ms_jumbo .ms_teaser h1 {
    font-size: 3.5em;
  }

  .ms_jumbo .ms_teaser p {
    font-size: 1.6em;
  }

  .ms_customers li {
    width: calc((100%/6) - 5px);
  }

}

/*==== MD =====*/
/* MEDIA QUERY */

@media all and (min-width:992px) {
  .ms_jumbo .ms_teaser h1 {
    font-size: 4.5em;
  }

  .ms_jumbo .ms_teaser p {
    font-size: 1.5em;
  }

  .ms_section h2 {
      font-size: 2.2em;
  }

}
